<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      [(ngModel)]="text"
      placeholder="Add task here"
    />
  </div>
  <div class="form-control">
    <label for="text">Date & Time</label>
    <input
      type="text"
      name="day"
      id="day"
      [(ngModel)]="day"
      placeholder="Add date and time here"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>

  <input type="submit" value="Add task" class="btn btn-block" />
</form>
